@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-Regular';
  src: url('@fonts/Poppins-Regular.ttf');
} 
@font-face {
  font-family: 'Poppins-Medium';
  src: url('@fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('@fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('@fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Salsa';
  src: url('@fonts/Salsa-Regular.ttf');
}



.dashboardLink:hover > span{
  display: block;
}

body{
  position: relative;
  background-color: #F6F4F0;
  max-height: 100vh;
  overflow-y: scroll;
}

.circleOrigin{
  transform-origin: center center;
}

.circleRotate{
  animation: rotate 2s ease-in-out 0s infinite normal forwards;
}
.pauseCircle{
  animation-play-state: paused;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  95%,100%{
    transform: rotate(360deg);
  }
}

.musicImage:hover > span,
.musicList:hover > span{
  visibility: visible;
}

.accountDateList{
  scrollbar-gutter: stable;
}

.accountDateList::-webkit-scrollbar{
  width: 10px;
  background-color: #CCCCCC;
  position: absolute;
  right: 0px;
}

.accountDateList::-webkit-scrollbar-button{
  display: block;
  background: #CCCCCC;
  height: 1px;
}

.accountDateList::-webkit-scrollbar-thumb{
  border-left: 2px solid #CCCCCC ;
  border-right: 2px solid #CCCCCC;
  background-color: #4DA1A9;
  border-radius:
   70px;
}

.flower{
  mask-image: url('@images/landing/heroSection/flowerMask.svg');
  mask-repeat: no-repeat;
  mask-position: 33% 52%;
  mask-size: 500px 350px;
  
}